@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.back-color{
  background-color: #fbd7c3;
}


body{
  background-color: #fbd7c3;
}

.font-custom{
  font-family: 'Times New Roman', Times, serif;
}

.rotate-custom{
  transform: rotate(0.20turn);
  
}

.shadow-custom{
  box-shadow: .5px .5px 5px 0px rgba(0, 0, 0, 0.137);
}


.shadow-top{
  box-shadow: .0px -1.5px 3px -1px rgba(0, 0, 0, 0.144) ;
}

.emoji-size{
  height: 25px;
  width: 25px;
}



.h-90per{
  height: calc(100% - 56px)
}